.tvbar{
	overflow:hidden;
	background-color:#69bee5;
	font-size:20px;
}
.tvbar a{
	float:left;
	display:block;
	color:#000;
	text-align:center;
	padding:15px 20px;
	text-decoration:none;
}
.tvbar a:hover{
	background-color:#bde5ff;
	color:black;
}
body{
	margin:0px;
}