.bar {
	overflow: hidden;
	background-color: #b7f1d9;
	transition: 0.2s;
}

.bar a {
	float: left;
	display: block;
	color: #000;
	text-align: center;
	padding: 10px 15px;
	text-decoration: none;
	transition: 0.2s;
}

.bar a:hover {
	background-color: #c2ffe6;
	color: black;
	transition: 0.2s;
}

body {
	margin: 0px;
	background-color: #ffffff;
}

*::selection {
	background-color: #b7f1d9;
	color: #000000;
}

a {
	text-decoration: none;
}

a:link {
	color: darkblue;
}

a:visited {
	color: darkblue;
}

a:hover {
	color: royalblue;
	text-decoration: underline;
}

a:active {
	color: orangered;
	text-decoration: underline wavy;
}

.zjq {
	background-color: #ffe93e;
}

.text {
	background-color: #f3f3f3;
	color: black;
	border-radius: 20px;
	padding: 10px;
	margin: 5px;
	transition: 0.2s;
}

.text:hover {
	background-color: #f6f6f6;
	transition: 0.2s;
}

.bottom {
	background-color: #f3f3f3;
	color: #999999;
	padding: 20px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.bottom a {
	color: #999999;
	text-decoration: none;
	margin-right: 15px;
}

.bottom a:hover {
	color: #888888;
}
